/* Matugen Template for userChrome.css */

@media (prefers-color-scheme: dark) {
  :root {
    --zen-colors-primary: #46483c !important;
    --zen-primary-color: #bcce81 !important;
    --zen-colors-secondary: #46483c !important;
    --zen-colors-tertiary: #13140d !important;
    --zen-colors-border: #bcce81 !important;
    --toolbarbutton-icon-fill: #bcce81 !important;
    --lwt-text-color: #e4e3d7 !important;
    --toolbar-field-color: #e4e3d7 !important;
    --tab-selected-textcolor: #d8eb9a !important;
    --toolbar-field-focus-color: #e4e3d7 !important;
    --toolbar-color: #e4e3d7 !important;
    --newtab-text-primary-color: #e4e3d7 !important;
    --arrowpanel-color: #e4e3d7 !important;
    --arrowpanel-background: #13140d !important;
    --sidebar-text-color: #e4e3d7 !important;
    --lwt-sidebar-text-color: #e4e3d7 !important;
    --lwt-sidebar-background-color: #13140d !important;
    --toolbar-bgcolor: #46483c !important;
    --newtab-background-color: #13140d !important;
    --zen-themed-toolbar-bg: #13140d !important;
    --zen-main-browser-background: #13140d !important;
    --toolbox-bgcolor-inactive: #13140d !important;
  }

  #permissions-granted-icon {
    color: #13140d !important;
  }

  .sidebar-placesTree {
    background-color: #13140d !important;
  }

  #zen-workspaces-button {
    background-color: #13140d !important;
  }

  #TabsToolbar {
    background-color: #13140d !important;
  }

  #urlbar-background {
    background-color: #13140d !important;
  }

  .content-shortcuts {
    background-color: #13140d !important;
    border-color: #bcce81 !important;
  }

  .urlbarView-url {
    color: #bcce81 !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #13140d !important;
  }

  #zen-media-controls-toolbar {
    & #zen-media-progress-bar {
      &::-moz-range-track {
        background: #46483c !important;
      }
    }
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {
      &:is([open], [checked])
        > :is(
          .toolbarbutton-icon,
          .toolbarbutton-text,
          .toolbarbutton-badge-stack
        ) {
        fill: #13140d;
      }
    }
  }

  .identity-color-blue {
    --identity-tab-color: #a1d0c5 !important;
    --identity-icon-color: #a1d0c5 !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #214e46 !important;
    --identity-icon-color: #214e46 !important;
  }

  .identity-color-green {
    --identity-tab-color: #bcce81 !important;
    --identity-icon-color: #bcce81 !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #c4caa9 !important;
    --identity-icon-color: #c4caa9 !important;
  }

  .identity-color-orange {
    --identity-tab-color: #ffb4ab !important;
    --identity-icon-color: #ffb4ab !important;
  }

  .identity-color-red {
    --identity-tab-color: #93000a !important;
    --identity-icon-color: #93000a !important;
  }

  .identity-color-pink {
    --identity-tab-color: #3e4c0c !important;
    --identity-icon-color: #3e4c0c !important;
  }

  .identity-color-purple {
    --identity-tab-color: #444930 !important;
    --identity-icon-color: #444930 !important;
  }

  hbox#titlebar {
    background-color: #13140d !important;
  }

  #zen-appcontent-navbar-container {
    background-color: #13140d !important;
  }
}
