/* Matugen Template for userContent.css */

@media (prefers-color-scheme: dark) {

  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #e9e2d4 !important;
      --color-accent-primary: #e0c46d !important;
      --color-accent-primary-hover: #564500 !important;
      --color-accent-primary-active: #fee086 !important;
      background-color: #16130b !important;
      --in-content-page-background: #16130b !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: #16130b !important;
      --newtab-background-color-secondary: #4c4639 !important;
      --newtab-element-hover-color: #4c4639 !important;
      --newtab-text-primary-color: #e9e2d4 !important;
      --newtab-wordmark-color: #e9e2d4 !important;
      --newtab-primary-action-background: #e0c46d !important;
    }

    .icon {
      color: #e0c46d !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo-mocha.svg"), url("https://raw.githubusercontent.com/IAmJafeth/zen-browser/main/themes/Mocha/Green/zen-logo-mocha.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #e0c46d !important;
    }

    .top-site-outer .search-topsite {
      background-color: #accfaf !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #e0c46d !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: #16130b !important;
      --in-content-text-color: #e9e2d4 !important;
      --link-color: #e0c46d !important;
      --link-color-hover: #564500 !important;
      --zen-colors-primary: #4c4639 !important;
      --in-content-box-background: #4c4639 !important;
      --zen-primary-color: #e0c46d !important;
    }

    groupbox , moz-card{
      background: #16130b !important;
    }

    button,
    groupbox menulist {
      background: #4c4639 !important;
      color: #e9e2d4 !important;
    }

    .main-content {
      background-color: #16130b !important;
    }

    .identity-color-blue {
      --identity-tab-color: #accfaf !important;
      --identity-icon-color: #accfaf !important;
    }

    .identity-color-turquoise {
      --identity-tab-color: #2e4e35 !important;
      --identity-icon-color: #2e4e35 !important;
    }

    .identity-color-green {
      --identity-tab-color: #e0c46d !important;
      --identity-icon-color: #e0c46d !important;
    }

    .identity-color-yellow {
      --identity-tab-color: #d4c6a1 !important;
      --identity-icon-color: #d4c6a1 !important;
    }

    .identity-color-orange {
      --identity-tab-color: #ffb4ab !important;
      --identity-icon-color: #ffb4ab !important;
    }

    .identity-color-red {
      --identity-tab-color: #93000a !important;
      --identity-icon-color: #93000a !important;
    }

    .identity-color-pink {
      --identity-tab-color: #564500 !important;
      --identity-icon-color: #564500 !important;
    }

    .identity-color-purple {
      --identity-tab-color: #4f462a !important;
      --identity-icon-color: #4f462a !important;
    }
  }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: #16130b !important;
      --background-color-box: #16130b !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: #16130b !important;
      --social-color: #4f462a !important;
      --coockie-color: #2e4e35 !important;
      --fingerprinter-color: #d4c6a1 !important;
      --cryptominer-color: #accfaf !important;
      --tracker-color: #e0c46d !important;
      --in-content-primary-button-background-hover: #4c4639 !important;
      --in-content-primary-button-text-color-hover: #e9e2d4 !important;
      --in-content-primary-button-background: #4c4639 !important;
      --in-content-primary-button-text-color: #e9e2d4 !important;
    }


    .card {
      background-color: #4c4639 !important;
    }
  }
}
