/* Matugen Template for userChrome.css */

@media (prefers-color-scheme: dark) {
  :root {
    --zen-colors-primary: #534340 !important;
    --zen-primary-color: #ffb4a3 !important;
    --zen-colors-secondary: #534340 !important;
    --zen-colors-tertiary: #1a110f !important;
    --zen-colors-border: #ffb4a3 !important;
    --toolbarbutton-icon-fill: #ffb4a3 !important;
    --lwt-text-color: #f1dfdb !important;
    --toolbar-field-color: #f1dfdb !important;
    --tab-selected-textcolor: #ffdad2 !important;
    --toolbar-field-focus-color: #f1dfdb !important;
    --toolbar-color: #f1dfdb !important;
    --newtab-text-primary-color: #f1dfdb !important;
    --arrowpanel-color: #f1dfdb !important;
    --arrowpanel-background: #1a110f !important;
    --sidebar-text-color: #f1dfdb !important;
    --lwt-sidebar-text-color: #f1dfdb !important;
    --lwt-sidebar-background-color: #1a110f !important;
    --toolbar-bgcolor: #534340 !important;
    --newtab-background-color: #1a110f !important;
    --zen-themed-toolbar-bg: #1a110f !important;
    --zen-main-browser-background: #1a110f !important;
    --toolbox-bgcolor-inactive: #1a110f !important;
  }

  #permissions-granted-icon {
    color: #1a110f !important;
  }

  .sidebar-placesTree {
    background-color: #1a110f !important;
  }

  #zen-workspaces-button {
    background-color: #1a110f !important;
  }

  #TabsToolbar {
    background-color: #1a110f !important;
  }

  #urlbar-background {
    background-color: #1a110f !important;
  }

  .content-shortcuts {
    background-color: #1a110f !important;
    border-color: #ffb4a3 !important;
  }

  .urlbarView-url {
    color: #ffb4a3 !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #1a110f !important;
  }

  #zen-media-controls-toolbar {
    & #zen-media-progress-bar {
      &::-moz-range-track {
        background: #534340 !important;
      }
    }
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {
      &:is([open], [checked])
        > :is(
          .toolbarbutton-icon,
          .toolbarbutton-text,
          .toolbarbutton-badge-stack
        ) {
        fill: #1a110f;
      }
    }
  }

  .identity-color-blue {
    --identity-tab-color: #dac58c !important;
    --identity-icon-color: #dac58c !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #544519 !important;
    --identity-icon-color: #544519 !important;
  }

  .identity-color-green {
    --identity-tab-color: #ffb4a3 !important;
    --identity-icon-color: #ffb4a3 !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #e7bdb3 !important;
    --identity-icon-color: #e7bdb3 !important;
  }

  .identity-color-orange {
    --identity-tab-color: #ffb4ab !important;
    --identity-icon-color: #ffb4ab !important;
  }

  .identity-color-red {
    --identity-tab-color: #93000a !important;
    --identity-icon-color: #93000a !important;
  }

  .identity-color-pink {
    --identity-tab-color: #723426 !important;
    --identity-icon-color: #723426 !important;
  }

  .identity-color-purple {
    --identity-tab-color: #5d3f38 !important;
    --identity-icon-color: #5d3f38 !important;
  }

  hbox#titlebar {
    background-color: #1a110f !important;
  }

  #zen-appcontent-navbar-container {
    background-color: #1a110f !important;
  }
}
