/* Matugen Template for userChrome.css */

@media (prefers-color-scheme: dark) {
  :root {
    --zen-colors-primary: #4c4639 !important;
    --zen-primary-color: #e0c46d !important;
    --zen-colors-secondary: #4c4639 !important;
    --zen-colors-tertiary: #16130b !important;
    --zen-colors-border: #e0c46d !important;
    --toolbarbutton-icon-fill: #e0c46d !important;
    --lwt-text-color: #e9e2d4 !important;
    --toolbar-field-color: #e9e2d4 !important;
    --tab-selected-textcolor: #fee086 !important;
    --toolbar-field-focus-color: #e9e2d4 !important;
    --toolbar-color: #e9e2d4 !important;
    --newtab-text-primary-color: #e9e2d4 !important;
    --arrowpanel-color: #e9e2d4 !important;
    --arrowpanel-background: #16130b !important;
    --sidebar-text-color: #e9e2d4 !important;
    --lwt-sidebar-text-color: #e9e2d4 !important;
    --lwt-sidebar-background-color: #16130b !important;
    --toolbar-bgcolor: #4c4639 !important;
    --newtab-background-color: #16130b !important;
    --zen-themed-toolbar-bg: #16130b !important;
    --zen-main-browser-background: #16130b !important;
    --toolbox-bgcolor-inactive: #16130b !important;
  }

  #permissions-granted-icon {
    color: #16130b !important;
  }

  .sidebar-placesTree {
    background-color: #16130b !important;
  }

  #zen-workspaces-button {
    background-color: #16130b !important;
  }

  #TabsToolbar {
    background-color: #16130b !important;
  }

  #urlbar-background {
    background-color: #16130b !important;
  }

  .content-shortcuts {
    background-color: #16130b !important;
    border-color: #e0c46d !important;
  }

  .urlbarView-url {
    color: #e0c46d !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #16130b !important;
  }

  #zen-media-controls-toolbar {
    & #zen-media-progress-bar {
      &::-moz-range-track {
        background: #4c4639 !important;
      }
    }
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {
      &:is([open], [checked])
        > :is(
          .toolbarbutton-icon,
          .toolbarbutton-text,
          .toolbarbutton-badge-stack
        ) {
        fill: #16130b;
      }
    }
  }

  .identity-color-blue {
    --identity-tab-color: #accfaf !important;
    --identity-icon-color: #accfaf !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #2e4e35 !important;
    --identity-icon-color: #2e4e35 !important;
  }

  .identity-color-green {
    --identity-tab-color: #e0c46d !important;
    --identity-icon-color: #e0c46d !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #d4c6a1 !important;
    --identity-icon-color: #d4c6a1 !important;
  }

  .identity-color-orange {
    --identity-tab-color: #ffb4ab !important;
    --identity-icon-color: #ffb4ab !important;
  }

  .identity-color-red {
    --identity-tab-color: #93000a !important;
    --identity-icon-color: #93000a !important;
  }

  .identity-color-pink {
    --identity-tab-color: #564500 !important;
    --identity-icon-color: #564500 !important;
  }

  .identity-color-purple {
    --identity-tab-color: #4f462a !important;
    --identity-icon-color: #4f462a !important;
  }

  hbox#titlebar {
    background-color: #16130b !important;
  }

  #zen-appcontent-navbar-container {
    background-color: #16130b !important;
  }
}
