spawn-at-startup "sh" "-c" "wl-paste --watch cliphist store"
spawn-at-startup "waybar"
spawn-at-startup "swaync"
spawn-at-startup "awww-daemon"
prefer-no-csd
screenshot-path "~/screenshots/%Y-%m-%d_%H-%M-%S.png"
