layer-rule {
    match namespace="waybar"

    opacity 0.85
    block-out-from "screencast"

    blur {
        on
        passes 4
        radius 2
    }

    shadow {
        on
        softness 40
        spread 0
        offset x=0 y=5
        draw-behind-window true
        color "#00000064"
    }

}
layer-rule {
    match namespace="rofi"
    opacity 0.90
    block-out-from "screencast"
    blur {
        on
        passes 3
        radius 2
    }
}

layer-rule {
    match namespace="swaync"
    opacity 0.90
}
