window-rule {
    match app-id="kitty"
}

window-rule {
    match title="Zen Browser"
    open-maximized true
}

window-rule {
    match app-id="^*Nautilus"
    open-floating true
    default-window-height { fixed 700; }
    default-column-width { fixed 700; }
    min-width 900 
    max-width 900 
    min-height 700 
    max-height 900
    default-floating-position x=470 y=180 relative-to="bottom-left"
}

window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
}
window-rule {
    match app-id="vesktop"
    opacity 0.97
}

window-rule {
    match app-id="Spotify"
    opacity 0.95
}

window-rule {
    match title="Testing"
    open-floating true
}
